<nav id="navbar">
    <div id="closeNav" onclick="closeNav()">&times;</div>
    <div class="journal-container">
        <a href="/">Journal</a>
        <i class="fa fa-book"></i>
    </div>
    <div class="compose-container">
        <a href="/compose">Compose</a>
        <i class="fa fa-pencil"></i>
    </div>
</nav>